<h2> <%= t('submission_guidelines') %> </h2>
<style type="text/css">
dl {text-align:left;}
dt {vertical-align:top;}
dd {text-align:justify;}
p {text-align:justify;}
</style>
<p></p>
<h5>A fruga quer que as suas opiniões sejam ouvidas</h5>
<p>Queremos que todas as pessoas no mercado fruga obtenham as informações que precisam para fazer escolhas inteligentes de compra, e nós adoraríamos ter a sua ajuda a fazer isso. Como membro registado do mercado fruga, pode fazer avaliações por escrito nos produtos listados. Nós encorajamos a compartilhar as suas opiniões, favoráveis ​​e desfavoráveis.</p>
<h5>Dicas sobre como escrever uma boa avaliação</h5>
<ul>
<dt><b>Incluir o "porquê":</b></dt>
<dd>As melhores avaliações incluem não apenas se gostou ou não do produto, mas também o porque.</dd>
<dt><b>Seja específico:</b></dt>
<dd>A sua opinião deve concentrar-se nas características específicas do produto e na sua experiência com ele.</dd>
<dt><b>Nem muito curta, nem muito longa:</b></dt>
<dd>Avaliações escritas deve ser de pelo menos 20 palavras e são limitadas ao maximo de 5.000 palavras. O ideal é de 75 a 500 palavras.</dd>
<dt><b>eja sincero:</b></dt>
<dd>Congratulamo-nos com a sua avaliação honesta sobre o produto - positiva ou negativa. Nós não deixamos de aprovar avaliações porque elas são críticas. Acreditamos que toda a informação útil pode informar boas decisões de compra da comunidade fruga.</dd>
</ul>
<p>
<h5>O que não é permitido</h5>
<h6>Material censurável:</h6>
<ul>
<li>Conteúdo obsceno ou de mau gosto</li>
<li>Palavrões ou comentários maldosos</li>
<li>Promoção de conduta ilegal ou imoral</li>
</ul>
<h6>Conteúdo promocional:</h6>
<ul>
<li>Anúncios, material promocional ou mensagens repetidas</li>
<li>Avaliações por ou em nome de uma pessoa ou empresa com um interesse financeiro no produto ou um produto diretamente concorrente (incluindo revisões por editores, fabricantes, ou de terceiros comerciantes que vendem o produto)</li>
</ul>
<h6>Conteúdo impróprio:</h6>
<ul>
<li>Materiais de outras pessoas (isto inclui citações excessivas)</li>
<li>Números de telefone, endereços postais, e URLs externos ao mercado fruga</li>
<li>Conteúdo em língua estrangeira (a menos que haja uma clara conexão com o produto)</li>
</ul>