<h2><%= t('terms_and_conditions') %></h2>
<h5>Ao enviar uma avaliação para o mercado fruga, você concorda com a nossa utilização da mesma sob as seguintes condições.</h5>
<p>1. Reservamo-nos o direito de editar a sua avaliação, antes da publicação, se acharmos necessário.</p>
<p>2. Podemos decidir não publicar a sua avaliação. Esta decisão está a nosso critério, mas pode ser porque ela é muito longa, tem muitos erros ortográficos, parece tendenciosa de uma forma ou de outra, ou apenas porque não se trata do tipo de avaliação que estamos à procura.</p>
