<h1>Editing review for <%= link_to @review.product.name, product_path(@review.product) %></h1>

<h2>Original version</h2>

<p>
<%= @review.review %>
</p>
<br/>

<h2>Edited version</h2>

<% form_for([:admin, @review]) do |f| %>
  <%= render :partial => f,
             :locals  => { :button_name => "Update" } %>
<% end %>

<%= link_to t('back_reviews'), admin_reviews_path %>
