<p>
  <%= Spree.t('voice', :count => review.feedback_reviews.count) %>.
  <span title="<%=pluralize(review.feedback_stars, 'star')%> out of 5">
  <%= render :partial => "spree/reviews/stars", :locals => {:stars => review.feedback_stars} %>
  </span> &nbsp;
</p>
