<div id="reviews">
  <%= render :partial => 'spree/shared/rating', :locals => {:reviewable => @reviewable, :review => 0} %>
  <% for review in (Spree::Reviews::Config[:track_locale] ? @reviewable.reviews.localized(I18n.locale) : @reviewable.reviews).approval_filter.preview %>
    <%= render :partial => 'spree/shared/review', :locals => {:review => review} %>
  <% end %>
  <% if Spree::Reviews::Config[:feedback_rating] && (!Spree::Reviews::Config[:require_login] || spree_current_user || !Spree::Reviews::Config[:always_show_create]) %>
    <% if @reviewable.is_a?(Spree::Product) %>
      <%= link_to t('write_your_own_review'), new_product_review_path(@reviewable), :class => "button" %>
    <% else %>
      <%= link_to t('write_your_own_review'), new_review_path, :class => "button" %>
    <% end %>
  <% end %>
</div>

