<% stars = product.stars %>
<% reviews_count = product.reviews_count %>
<div>
  <div style="float:left;" title="<%= txt_stars(stars) %>">
    <%= render 'spree/reviews/stars', stars: stars %>
  </div>
  <div style="float:right;">
    <%= Spree::Review.model_name.human(count: reviews_count) %>
  </div>
</div>
