<%= stylesheet_link_tag 'reviews.css' %>
<% stars = product.get_stars %>
<div class="header">
  Average customer rating:
  <span title="<%=pluralize(stars[0], 'star')%> out of 5">
    <%= render :partial => "reviews/stars#{stars[0]}" %>
  </span>
  (based upon <%= pluralize(stars[1], 'review') %>)
  <br/>
  <br/>
</div>

