<% content_for :head do %>
  <%= stylesheet_link_tag 'reviews.css' %>
<% end %>
<!-- <h1>Product review submission</h1> -->

<h2> <%= I18n.t('leave_us_a_review_for') + ' "' + @product.name + '"' %> </h2>

<%= render 'form', { :review => @review, :product => @product } %>

<%= render :partial => "fine_print" %>
